{% extends "Meetings/base_items.html" %}
{% load staticfiles %}

{% block content %}
<!--EMPIEZA CUERPO FORM-->
<div class="row bg-light">
  <div class="col-md-12 justify-content-center text-center mt-4">
    <p class="display-4 mt-5" style="font-family: 'Nunito Sans', sans-serif;">Por favor, ingrese sus datos.</p>
    <form class="ml-1 m-5" method="POST" action="/register/">{% csrf_token %}
      <!--TOKEN que protege ante falsificacion de solicitudes de otros sitios (asegura que venga de nuestro dominio)-->
      <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="validationServer01">
            <h3>Nombre</h3>
          </label>
          <input type="text" class="form-control is-valid" name="nombre_registro" id="validationServer01"
            placeholder="First name" value="Pepe" required>
          <div class="valid-feedback">
            Genial!
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <label for="validationServer02">
            <h3>Apellido</h3>
          </label>
          <input type="text" class="form-control is-valid" name="apellido_registro" id="validationServer02"
            placeholder="Last name" value="Perez" required>
          <div class="valid-feedback">
            Genial!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="validationServerUsername">
            <h3>Usuario</h3>
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
            </div>
            <input type="text" class="form-control is-invalid" name="usuario_registro" id="validationServerUsername"
              placeholder="Username" aria-describedby="inputGroupPrepend3" required>
            <div class="invalid-feedback">
              Por favor, cree un usuario.
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <label for="validationServerEmail">
            <h3>Email</h3>
          </label>
          <input type="email" class="form-control is-valid" name="email_registro" id="validationServer02"
            placeholder="miemail@" value="" required>
          <div class="valid-feedback">
            Genial!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="validationServerTelname">
            <h3>Telefono</h3>
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
            </div>
            <input type="text" class="form-control is-invalid" name="tel_registro" id="validationServerUsername"
              placeholder="Telefono" aria-describedby="inputGroupPrepend3" required>
            <div class="invalid-feedback">
              Por favor, su numero de telefono.
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <label for="validationServer02">
            <h3>Sexo</h3>
          </label>
          <input type="text" class="form-control is-valid" name="sex_registro" id="validationServer02" placeholder="M/F"
            value="" required>
          <div class="valid-feedback">
            Genial!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-4">
          <label for="validationServer04">
            <h3>Provincia</h3>
          </label>
          <input type="text" class="form-control is-invalid" name="prov_registro" id="validationServer04"
            placeholder="Prov" required>
          <div class="invalid-feedback">
            Por favor, escriba su provincia.
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <label for="validationServer05">
            <h3>Codigo postal</h3>
          </label>
          <input type="text" class="form-control is-invalid" name="zip_registro" id="validationServer05"
            placeholder="Zip" required>
          <div class="invalid-feedback">
            Por favor, escriba su codigo postal.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check mt-5 justify-content-center">
          <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
          <label class="form-check-label" for="invalidCheck3">
            Acepto los <a href="#">Terminos y Condiciones.</a>
          </label>
          <div class="invalid-feedback">
            Debes aceptar antes de registrarte.
          </div>
        </div>
      </div>
      <button class="btn btn-primary mb-5 mt-1" type="submit" value="enviar_registro">Registrarse</button>
    </form>
  </div>
</div>
{% endblock %}