{% extends "Meetings/base_items.html" %}
{% load staticfiles %}

{% block content %}
<!--CUERPO, DESCRIPCION ESPACIO-->
<div class="row">
    <div class="col-md-8 mt-5">
        <div class="mt-1">
            <div id="carouselModern" class="carousel slide mt-4 mb-2 ml-1 mr-1" data-ride="carouselModern">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{%  static  'Meetings/img/construccion.jpg'  %}" alt="Woman1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{%  static  'Meetings/img/construccion.jpg'  %}" alt="Woman2">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{%  static  'Meetings/img/construccion.jpg'  %}" alt="Woman3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselModern" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previo</span>
                </a>
                <a class="carousel-control-next" href="#carouselModern" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p class="display-2 text-center mt-5">WOMAN OFFICE</p>
        <p><em>Este bar ubicado en Alvear 75 ciudad de Buenos Aires ofrece barra con amplia carta de tragos, comidas
                elaboradas, terraza con vista a la ciudad, escenario de karaoke. Capacidad minima 10 personas, maxima
                50.</em></p>
        <p><em>Servicios extra: Mozos y bartenders propios, limpieza, decoración.</em></p>
        <button type="submit" class="btn btn-outline-dark btn-block text-center mt-5">Reserva!</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="accordion mt-5 mb-4" id="acordion">
            <div class="card">
                <div class="card-reader bg-dark" id="reserva">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseReserva0"
                        aria-expanded="true" aria-controls="collapseReserva">
                        Información completa del establecimiento
                    </button>
                </div>
            </div>
            <div id="collapseReserva0" class="collapse" aria-labelledby="reserva" data-parent="#acordion">
                <div class="card-body">
                    <p>Fundado en...</p>
                </div>
            </div>
            <div class="card">
                <div class="card-reader bg-dark" id="reserva">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseReserva1"
                        aria-expanded="true" aria-controls="collapseReserva">
                        ¿Como reservar?
                    </button>
                </div>
            </div>
            <div id="collapseReserva1" class="collapse" aria-labelledby="reserva" data-parent="#acordion">
                <div class="card-body">
                    <p>Podes reservar en los dias disponibles que te ofrece la web, el horario y dia es a tu gusto!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-reader bg-dark" id="reserva2">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseReserva2"
                        aria-expanded="true" aria-controls="collapseReserva">
                        ¿Que medios de pago tengo?
                    </button>
                </div>
            </div>
            <div id="collapseReserva2" class="collapse" aria-labelledby="reserva2" data-parent="#acordion">
                <div class="card-body">
                    <p>Podes pagar con MercadoPago, Tarjeta de Credito o Debito! No aceptamos efectivo ni tranferencias.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-reader bg-dark" id="reserva3">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseReserva3"
                        aria-expanded="true" aria-controls="collapseReserva">
                        ¿Como contacto al dueño del espacio?
                    </button>
                </div>
            </div>
            <div id="collapseReserva3" class="collapse" aria-labelledby="reserva3" data-parent="#acordion">
                <div class="card-body">
                    <p>Luego de realizar tu reserva se te daran todos los datos del locatario.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}